body {
    background-color: #90c5ee;
  }
  hr {
    /* border-style: dotted none none none; */
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 7px;
    height: 0px;
    width: 5%;
  }
  img {
    height: 200px;
  }